section#intro-header {
 background-image: url('facebook1.jpg');
 background-size: cover;
}

section#intro-header .wrap-headline {
 position: relative;
 padding-top: 20%;
 padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
 color: rgb(255,128,0);
 font-weight:bold;
}

section#intro-header h2 {
 font-size: 1.5rem;
}
section#intro-header hr {
 width: 10%;
}



/*css connection*/

section#newsletter {
 border-top: 1px solid #E0E0E0;
 padding-top: 3.2em;
 margin-top: 2em;
}
section#newsletter h4 {
 padding: 1em;
 color:white;
}
section#newsletter form {
 padding: 1em;
 margin-top: 2em;
 margin-bottom: 5.5em;
}

